<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lib_server" >

    <application>
        <service
            android:name=".TestService"
            android:process=":test"
            >

            <intent-filter>
                <action android:name="com.example.lib_server.TestService"/>
            </intent-filter>

        </service>

        <provider
            android:authorities="com.example.lib_server.CustomContentProvider"
            android:name=".CustomContentProvider"
            android:process=":provider"
            />
    </application>
</manifest>
